* {
    background-color: rgb(59, 47, 47);
    color:rgb(216, 198, 198);
    font-family: sans-serif;
}
.title {
    font-size: 35px;
}
.text {
    font-size: 18px;
    font-style:italic;
}
body {
    margin: 0 400px;
}
img {
    max-width: 250px;
    max-height: auto;
    border-radius: 10px;
}
.player-container {
    display: flex;
    gap: 30px;
    padding: 50px;
}
.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    
  }