* {
    background-color: rgb(59, 47, 47);
    color:rgb(216, 198, 198);
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }

.title {
    text-align: center;
    font-size: 35px;
}
.text {
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

.score-container,
.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
}
img {
    width: 250px;
    height: auto; 
    border-radius: 10px;
}
.main-selection {
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);  
  }
  .winner-text {
    text-align: center;
    font-size: 40px;
  }